<h1><%= @playground.name %></h1>
<% @playground.players.each do |player|%>
  <h4><%= player.name %></h4>
    <% player.positions.each do |position|  %>
      <h6><%= position.name %></h6>
    <% end %>
<% end %>
