.cards-card{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.card-image{
  img{
    height: 180px;
    width: auto;
  }
}

.card-image :hover{
  img{
    height: 250px;
    width: auto;
  }
}
